.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 5px 40px 30px;
}

.header__content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.header__title {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 50px;
  line-height: 72px;
  color: #2f80ed;
  margin: 0;
  max-width: 729px;
}

.header__title-special {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: #000;
  display: flex;
  position: absolute;
  z-index: 1;
}

.header__description {
  max-width: 638px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 70px;
  padding-top: 24px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: -28px;
  bottom: 124px;
}

.header__footer {
  padding-left: 50px;
  margin-top: 165px;
}

.header__list {
  list-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #838383;
  padding: 0;
  margin: 0;
}

.header__footer-heading {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer_container-address {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 75px;
  bottom: 40px;
}

.header__footer-address {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #838383;
  margin: 0;
}
