.reservation {
  background-image: url(/images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  margin: 0;
}

.reservation__form {
  max-width: 365px;
  margin: auto;
}
