@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/recipes.css);
@import url(/blocks/reservation.css);
@import url(/blocks/menu.css);
@import url(/blocks/about.css);
@import url(/blocks/footer.css);

/*.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;

  justify-content: space-between;
  margin: 30px 80px 183px 30px;
}
.nav__links {
  display: flex;
  text-decoration: none;
  list-style: none;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
}

.nav__link:hover {
  color: #2f80ed;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.header__image {
  width: 646px;
  height: 568px;
}

.header__title {
  max-width: 729px;
  margin: 0 0 65px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 50px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title-special {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  display: flex;
  color: #000;
  z-index: 2;
  position: absolute;
}

.header__description {
  max-width: 638px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  margin-right: -30px;
}

.header__footer {
  display: flex;
  margin-top: 160px;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__list {
  list-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #838383;
  padding: 0;
  margin-left: -60px;
}

.header__footer-heading {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__footer_container-address {
  margin: 0;
  padding-left: 650px;
}
.header__footer-address {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #838383;
}

.recipes {
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2750;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  padding-bottom: 24px;
}

.recipes__title-recetas {
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin-bottom: 80px;
}

.recipes__subtitle-recetas {
  margin: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  margin-bottom: 24px;
}

.recipes__video-caption-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.reservation {
  background-image: url(/images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  margin: 0;
}

.reservation__form {
  max-width: 365px;
  margin: auto;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__lebel {
  padding-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  margin-bottom: 32px;
  border-radius: 4px;
  padding: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  margin-bottom: 32px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  opacity: 1;
  transition: 0.3s ease;
}

.form__button:hover {
  opacity: 0.7;
}

.form__lebel-checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.menu {
  background-image: url(/images/background_menu.svg);
  background-color: #fff;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 100px 0;
}

.menu__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title-header {
  max-width: 700px;
  margin: 0;
  padding-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  max-width: 700px;
  margin: 0;
  padding-bottom: 100px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.card {
  width: 540px;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 32px;
}

.card__list-item {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.card__list-divider {
}

.card__list-item-line {
  height: 1px;
  background-color: #000;
  border: none;
}

.about {
  background-color: #0a2850;
  padding: 119px 80px 173px 80px;
  position: relative;
  overflow: hidden;
}

.about__title {
  max-width: 251px;
  position: relative;
  z-index: 2;
}

.about__title-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin: 0;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.about__paragraph {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  max-width: 660px;
  margin: 0;
}

.about__circle {
  border-radius: 50%;
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 1;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1.3;
    transform: scale(1.3);
  }
}
.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 100px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
}

.footer__logo-caffe {
  width: 105px;
  height: 39px;
  padding-bottom: 108px;
}

.footer__social-heading {
}

.footer__social-heading-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  padding-bottom: 20px;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__list-item {
  padding-bottom: 16px;
}

.footer__social-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 0;
}*/
