.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;

  justify-content: space-between;
  margin: 30px 80px 183px 30px;
}
.nav__links {
  display: flex;
  text-decoration: none;
  list-style: none;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.header__image {
  width: 646px;
  height: 568px;
}

.header__title {
  max-width: 729px;
  margin: 0 0 65px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 50px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title-special {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  display: flex;
  color: #000;
  z-index: 2;
  position: absolute;
}

.header__description {
  max-width: 638px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  margin-right: -30px;
}

.header__footer {
  display: flex;
  margin-top: 160px;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__list {
  list-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #838383;
  padding: 0;
  margin-left: -60px;
}

.header__footer-heading {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__footer_container-address {
  margin: 0;
  padding-left: 650px;
}
.header__footer-address {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #838383;
}

.recipes {
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2750;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  padding-bottom: 24px;
}

.recipes__title-recetas {
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin-bottom: 80px;
}

.recipes__subtitle-recetas {
  margin: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  margin-bottom: 24px;
}

.recipes__video-caption-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.reservation {
  background-image: url(/images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  margin: 0;
}

.reservation__form {
  max-width: 365px;
  margin: auto;
}

.form__container {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__container-lebel {
  padding-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__container-input {
  margin-bottom: 32px;
  border-radius: 4px;
  padding: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__container-button {
  margin-bottom: 32px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__container-button:hover {
  opacity: 0.7;
}

.form__container__lebel-checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__container-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
